@font-face {
	font-family: "UbuntuR";
	font-style: normal;
	font-weight: normal;
	src: local("?"), url("fonts/Ubuntu-R.woff") format("woff"), url("fonts/Ubuntu-R.ttf") format("truetype");
}

@font-face {
        font-family: "UbuntuRI";
        font-style: italic;
        font-weight: italic;
        src: local("?"), url("fonts/Ubuntu-RI.woff") format("woff"), url("fonts/Ubuntu-RI.ttf") format("truetype");
}

@font-face {
        font-family: "UbuntuB";
        font-style: normal;
        font-weight: normal;
        src: local("?"), url("fonts/Ubuntu-B.woff") format("woff"), url("fonts/Ubuntu-B.ttf") format("truetype");
}
 
@font-face {
        font-family: "UbuntuBI";
        font-style: italic;
        font-weight: italic;
        src: local("?"), url("fonts/Ubuntu-BI.woff") format("woff"), url("fonts/Ubuntu-BI.ttf") format("truetype");
}


body{background:#E6EAF2;padding:0;margin:0 auto;text-align:center;font-family:Arial,sans-serif;color:#38383;min-height: 960px}

#principal {padding:0px 20px 0px 20px;background:#E6EAF2}

#contenedormapa1 {height:440px; width:100%;background:#FFF}
#contenedormapa2 {margin-left:auto;margin-right:auto;height:400px; width:97%; padding:20px 0px; background:#FFF}

a, a:active, a:focus, a:visited {text-decoration:none;outline: none}

#cabecera{padding:0;background:#433128;width:100%;}
#cabecera2{padding:0;background:#433128;width:100%;height:35px}
#cabecera3{padding:0;background:#E6EAF2;width:100%;}
#presentacion{padding:0;background:#E6EAF2;width:100%;}

#contenedorcuerpo {height:440px; width:100%;background:#FFF}
#cuerpo{margin-left:auto;margin-right:auto;height:400px; width:97%; padding:20px 0px; background:#FFF}

#contenedorcuerpo2 {height:670px; width:100%;background:#FFF}
#cuerpo2{margin-left:auto;margin-right:auto;height:630px; width:97%; padding:20px 0px; background:#FFF}

#contenedorcuerpo3 {text-align: center;height:770px; width:100%;background:#FFF}
#cuerpo3{text-align: left;height:730px; width:97%; padding:20px 0px; background:#FFF}


#contenedorinfo {height:260px; width:100%;background:#FFF}
#info{margin-left:auto;margin-right:auto;height:160px; width:97%; padding:20px 0px; background:#FFF;border: 3px dashed #3C67BC;-moz-border-radius: 3px}                                               

#contenedorinfo {height:260px; width:100%;background:#FFF}

#fbcontenedor {padding:0px 20px 0px 20px;}
#fbupdates {background:#8498C1;padding:5px 5px 5px 5px;}
#fbstatus {background:#EDF0F4;padding:10px 10px 10px 10px;}


#textc21{color:#FFFFFF;font-family: UbuntuR;font-size:15px}
#textc30{color:#1c3876;font-family: UbuntuB;font-size:34px}
#textc31{color:#d0d7e7;text-align:center;font-family: UbuntuB;font-size:45px} 
#textc32{color:#1c3876;text-align:center;font-family: UbuntuR;font-size:15px}  
#textcuerpo1{color:#233770;text-align:left;font-family: UbuntuB;font-size:25px} 
#textcuerpo2{color:#233770;text-align:left;font-family: UbuntuR;font-size:16px} 
#textboton{color:#FFFFFF;text-align:center;font-family: UbuntuR;font-size:20px} 
#textbig{color:#1c3876;font-family: UbuntuB;font-size:50px}
#textfb1{color:#233770;text-align:left;font-family: UbuntuR;font-size:13px} 
#textop1{color:#8598c0;text-align:center;font-family: UbuntuB;font-size:45px} 
#shit{color:#8598c0;text-align:center;font-family: UbuntuB;font-size:35px} 

a.one:link {color:#FFFFFF;}
a.one:visited {color:#1c3876;}
a.one:hover {color:#1c3876;}

#apuntateboton{
	text-align: center;
	vertical-align: middle;
	width: 230px;
	height: 40px;
	border: 1px solid 35549f;
	margin-left:auto;
	margin-right:auto;
	-moz-border-radius: 3px;
	background: #35549f; /* Old browsers */
	background: -moz-linear-gradient(top,  #35549f 0%, #2989d8 50%, #207cca 51%, #3c67bc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#35549f), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#3c67bc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #35549f 0%,#2989d8 50%,#207cca 51%,#3c67bc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #35549f 0%,#2989d8 50%,#207cca 51%,#3c67bc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #35549f 0%,#2989d8 50%,#207cca 51%,#3c67bc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #35549f 0%,#2989d8 50%,#207cca 51%,#3c67bc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35549f', endColorstr='#3c67bc',GradientType=0 ); /* IE6-9 */
}

 
.ribbon {
	font-size: 16px !important;
width: 75%;
     
     position: relative;
     background: #34549f;
     color: #fff;
     text-align: center;
     padding: 1em 2em; /* Adjust to suit */
     margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
    }
    .ribbon:before, .ribbon:after {
     content: "";
     position: absolute;
     display: block;
     bottom: -1em;
     border: 1.5em solid #34549f;
     z-index: -1;
    }
    .ribbon:before {
     left: -2em;
     border-right-width: 1.5em;
     border-left-color: transparent;
    }
    .ribbon:after {
     right: -2em;
     border-left-width: 1.5em;
     border-right-color: transparent;
    }
    .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
     content: "";
     position: absolute;
     display: block;
     border-style: solid;
     border-color: #1e3874 transparent transparent transparent;
     bottom: -1em;
    }
    .ribbon .ribbon-content:before {
     left: 0;
     border-width: 1em 0 0 1em;
    }
    .ribbon .ribbon-content:after {
     right: 0;
     border-width: 1em 1em 0 0;
    }
.non-semantic-protector { position: relative; z-index: 1; } 


ol {counter-reset: li 0;}
li { display: inline-block; }
li:before {
	content: counter(li) " ";
	counter-increment: li;
	line-height: 1.5em;
	text-align: left;
	color:#d0d7e7;
	font-family: UbuntuB;
	font-size:45px} 
}











/*estilos Mar*/


body{
	background:#FFFFFF url(images/px_body.png) repeat-x left top;
	padding:0;
	margin:0;
	text-align:center;
	font: 16px 'UbuntuRegular', Arial, sans-serif;
	color:#000;

}

strong, b{
	font: 16px 'UbuntuBold', Arial, sans-serif;	
}

h1#textc30{
	font: 37px 'UbuntuBoldItalic', Arial, sans-serif;	
	color:#213773;
	margin-top:12px;
}

h1{
	font: 35px 'UbuntuBold', Arial, sans-serif;	
	color:#213773;
	margin-top:12px;
}

h2{
	font: 25px 'UbuntuBold', Arial, sans-serif;	
	color:#213773;
	margin-top:30px;
	margin-bottom:0;
}

#principal{
	width: 960px;
	margin:0 auto;
	padding:0; 
}

#contenedormapa1 {
	height:400px; 
	width:100%; 
	background:#FFF; 
	text-align:center;
	padding:15px;
	margin-bottom:20px;
}
#contenedormapa2 {
	margin-left:auto;margin-right:auto;
	height:400px; 
	width:auto;
	background:#FFF
}
iframe{
	border:none;
	height:400px;
}
#mapa {height:100%; width:100%;padding:0px}

a, a:active, a:focus, a:visited {text-decoration:none;outline: none}

#cabecera{padding:0;width:100%;}

#cabecera2{
	padding:0;
	margin-top:5px;
	width:100%;
	height:35px;

}
#cabecera2, #cabecera2 a, #cabecera2 a:link, #cabecera2 a:visited{
	font: 13px 'UbuntuRegular', Arial, sans-serif;
	color:#FFF;
}

#cabecera2 ul{
	list-style:none;
	width:auto;
	margin:0;
	padding: 0 70px;
}

#cabecera2 li{
	width:auto;
	margin:0 15px;
	display:inline;
}

#cabecera3{
	text-align:left;
	padding:0;
	width:100%;
}
 #cabecera3 ul{
	list-style:none;
	width:auto;
	margin:0;
	padding: 0 5px;
	text-align:center;
}
#cabecera3 li{
	width:auto;
	margin:0 26px;
	display:inline-block;
	vertical-align:middle;
}
ul#procesotx{
	width:100%;
	margin:0 0 20px 0;
}
ul#procesotx li{
	margin:0;
	width:24.5%;
}

ul#procesotx li li {
	font: 15px 'UbuntuMedium', Arial, sans-serif;
	color:#213773;
	width:auto;
	text-align:left;
	margin:0;
}

ul#procesotx li li.num{
	font: 45px 'UbuntuBold', Arial, sans-serif;	
	color:#C1CBE0;
	margin-right:5px;
}
ul#procesotx li ul{
	margin:0;
	padding:0;
}


#presentacion, #cuerpo, #contenedorcuerpo, #info{
	text-align:left !important;
}

#contenedorinfo{
	margin-top:-30px;
	margin-bottom:20px;
	padding-top:90px;
	background:url(images/icon_ojo.png) no-repeat left top;
}
#info .margeni15{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	
	padding:0 15px;
}

#pie{
	width:100%;
	min-height:100px;
	display:block;
	background-color:#3C67BC;
	margin-top:50px;
}

#impacto-grafico{
	margin:20px 0;
	padding:0;
	width:97%;
	height:250px;
}
#cajaAvatar{
	margin-top:20px;
	margin-left:5px;
	height:440px;
	overflow:hidden;
}
/*#cajaAvatar div.bordeazul{
	overflow:auto;
	height:440px;
}*/


h3#apuntadas{
	background-color:#8498C1;
	color:#FFFFFF;
	font: 19px 'UbuntuMedium', Arial, sans-serif;
	margin:0;
	padding:7px 15px;
}


.apuntateboton{
	width:70%;
	padding:10px 15px;
	margin-top:5px;
	text-align: center;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	
	
	background-image: linear-gradient(top, #35549F 40%, #3C67BC 100%);
background-image: -o-linear-gradient(top, #35549F 40%, #3C67BC 100%);
background-image: -moz-linear-gradient(top, #35549F 40%, #3C67BC 100%);
background-image: -webkit-linear-gradient(top, #35549F 40%, #3C67BC 100%);
background-image: -ms-linear-gradient(top, #35549F 40%, #3C67BC 100%);

background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.4, #35549F),
	color-stop(1, #3C67BC)
	);
}
.apuntateboton a, .apuntateboton a:link, .apuntateboton a:visited{
	color:#FFFFFF;
	text-decoration:none;
}



.cortar{
	clear:both;
}

.cols{
	float:left;
}
.ocho{
	width:66.6%;
}
.siete {
	width:58.3%;
}
.seis {
	width:50%;
}
.cinco{
	width:41.6%;
}
.cuatro{
	width:33.3%;
}
.tres{
	width:25%;
}

.uno{
	width:8.3%;
}
.offset-by-one{
	margin-left:8.3%;
}
.sombra {
		box-shadow: 2px 2px 3px #999999;
	-moz-box-shadow: 2px 2px 3px #999999;
	-webkit-box-shadow:  2px 2px 3px #999999;
	-o--box-shadow:  2px 2px 3px #999999;
}
.vineta{
	list-style:url(images/vineta_check.png);
	list-style-position:outside;
	margin-bottom:30px;
}
.aazul{
	color:#35549F;
	text-decoration:underline;
	font-size:90%;
	margin-bottom:35px;
	display:block;
}
.bordeBN{
	border-top:1px solid #F0F0F0;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #C0C0C0;
	border-bottom:1px solid #C0C0C0;
}
.bordeazul{
	border:1px solid #35549F;
}

.borde-dash{
	border:3px dashed #3C67BC;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
